<div class = "text-center">
    <h1 >Your Addresses</h1>
</div>
<br>
<div class = "col-xs-8 col-xs-offset-2">
    <div class = "row" >
        <div class = "col-xs-4"  >
            <img class = "img-thumbnail img-responsive" (click)="addAddressPopUp()" [style.cursor]="'pointer'" data-toggle="modal" data-target="#myModal" src = "assets/images/addAddress.png" >
        </div>
        <div class = "col-xs-4" *ngFor = "let address of addresses; let i = index">
            <span class = "thumbnail">
                <div *ngIf = "i==0" class = "text-center"><strong>Default Address</strong><hr></div>
                <p class = "address"><strong>{{addresses[i].userName}}</strong><br>
                {{addresses[i].addressLine1}}
                {{addresses[i].addressLine2?' '+addresses[i].addressLine2:''}}<br>
                {{addresses[i].locality}}<br>
                {{addresses[i].city}}, {{addresses[i].state}} {{addresses[i].pincode}}<br>
                {{addresses[i].country}}<br>
                Phone number: {{addresses[i].phoneNo}}</p>
                <div class = "footer">
                    <button class ="btn btn-link" (click)="updateAddressPopUp(address)" data-toggle="modal" data-target="#myModal"><span title="Edit" class="glyphicon glyphicon-edit"></span></button>
                    |
                    <button class ="btn btn-link" (click) = "deleteAddress(address.id)"><span title="Remove" class="glyphicon glyphicon-trash"></span></button>
                    <span *ngIf = "i!=0">
                        |
                        <button class ="btn btn-link" (click) = "setDefaultAddress(address.id)">Set as default</button>
                    </span>
                </div>
            </span>
        </div>
       
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{FormTitle}} Address</h4>
        </div>
        <form class="form-horizontal"  #AddressForm="ngForm">
            <div class="modal-body">
                <div class="form-group required">
                    <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Country</label>
                    <div class="col-xs-7">
                        <select [(ngModel)] = "address.country" name = "country" #country = "ngModel" required class = "form-control" (change) = "changeStates()">
                            <option [value]="country" *ngFor = "let country of countries; let i = index;">{{country}}</option>
                        </select>
                        <p *ngIf="country.dirty&&!country.valid" class="text-danger">This field is required!</p>
                    </div>
                </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">User Name</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" [(ngModel)]="address.userName" name = "userName" #userName = "ngModel" required validateUserName>
                            <p *ngIf="userName.dirty&&userName.errors?.required" class="text-danger">This field is required!</p>
                            <p *ngIf="userName.dirty&&userName.errors?.userInvalid" class="text-danger">{{userName.errors.userInvalid}}</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Address Line 1</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" [(ngModel)]="address.addressLine1" name = "addressLine1" #addressLine1 = "ngModel" required>
                            <p *ngIf="addressLine1.dirty&&!addressLine1.valid" class="text-danger">This field is required!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Address Line 2</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" [(ngModel)]="address.addressLine2" name = "addressLine2" #addressLine2 = "ngModel">
                            <p *ngIf="addressLine2.dirty&&!addressLine2.valid" class="text-danger">This field is required!</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Locality</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" [(ngModel)]="address.locality" name = "locality" #locality = "ngModel" required>
                            <p *ngIf="locality.dirty&&!locality.valid" class="text-danger">This field is required!</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">City</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" [(ngModel)]="address.city" name = "city" #city = "ngModel" required validateUserName> 
                            <p *ngIf="city.dirty&&city.errors?.required" class="text-danger">This field is required!</p>
                            <p *ngIf="city.dirty&&city.errors?.userInvalid" class="text-danger">City name can contain only alphabates and spaces.</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">State</label>
                        <div class="col-xs-7">
                            <select [(ngModel)] = "address.state" name = "state" #state = "ngModel" required class = "form-control">
                                <option [value]="state" *ngFor = "let state of states; let i = index;">{{state}}</option>
                            </select>
                            <p *ngIf="state.dirty&&!state.valid" class="text-danger">This field is required!</p>
                        </div>
                    </div>
                  
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Pincode</label>
                        <div class="col-xs-7">
                            <input type="number" min="100000" max = "999999" class="form-control" [(ngModel)]="address.pincode" name = "pincode" #pincode = "ngModel" required validatePincode>
                            <p *ngIf="pincode.dirty&&pincode.errors?.required" class="text-danger">This field is required!</p>
                            <p *ngIf="pincode.dirty&&pincode.errors?.pincodeInvalid" class="text-danger">{{pincode.errors.pincodeInvalid}}</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-3 col-xs-offset-1 control-label" style="text-align:left">Phone No</label>
                        <div class="col-xs-7">
                            <input type="number" min="1000000000" max = "9999999999" class="form-control" [(ngModel)]="address.phoneNo" name = "phoneNo" #phoneNo = "ngModel" required validatePhone>
                            <p *ngIf="phoneNo.dirty&&phoneNo.errors?.required" class="text-danger">This field is required!</p>
                            <p *ngIf="phoneNo.dirty&&phoneNo.errors?.phoneInvalid" class="text-danger">{{phoneNo.errors.phoneInvalid}}</p>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="FormTitle=='Add'?addAddress():updateAddress()" data-dismiss="modal" [disabled]="!AddressForm.valid">{{FormTitle}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
      
    </div>
  </div>